@font-face {
  font-family: 'Shentox';
  src: url('./Fonts/Shentox.ttf') format('ttf');
  font-weight: bold;
}
@font-face{
  font-family: "Avalon";
  src: url("./Fonts/Avalon_Bold.ttf") format('ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
body {
  color: #555;
}
ol,
ul {
  list-style: none;
}
*,
::after,
::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  text-rendering: optimizeLegibility;
}

/*Nav bar Top*/

.nav-top {
  background: #131313;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  max-height: 32px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  color: #898989;
}
.nav-right {
  display: flex;
}

.nav-top li {
  font-weight: 500;
  cursor: pointer;
  margin-left: 15px;
}
.nav-top li:hover {
  color: white;
  text-decoration: underline;
}
.company-top ul {
  display: flex;
}
.company-top ul:last-child {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .nav-top {
    display: none;
  }
}

/*Separator titles*/
.separator{
  margin-left: 25px;
  margin-top: 10px;
  font-size: 23px;
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
  font-family: sans-serif;
  letter-spacing: -.015em;
}
.separator:hover{
  cursor: pointer;
  color: #000;
}
.latest-title{
  margin-bottom: 24px;
}

/*End of Nav Bar Top*/

/*Nav bar Bottom*/
.nav-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}
.nav-logo {
  position: absolute;
  width: 106px;
  height: 100%;
  background-color: black;
  display: flex;
  padding: 15px;
  align-items: center;
}

.nav-section {
  display: flex;
}
.nav-link {
  text-align: center;
  font-size: 12px;
  font-family: 'Shentox' sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #aaa;
  display: block;
  height: 48px;
  letter-spacing: 0.04em;
  line-height: 1;
  padding-top: 18px;
  margin-left: 12px;
}
.nav-section li:first-child {
  margin-left: 120px;
}
.nav-link:hover {
  color: black;
  cursor: pointer;
}
.nav-bottom .icons {
  display: flex;
}
.nav-bottom .icons .fas {
  font-size: 20px;
  padding: 12px;
  border-left: 1px solid #eee;
  cursor: pointer;
}
.fa-bars {
  display: none;
}

@media only screen and (max-width: 768px) {
  .fa-bars {
    display: block;
  }
  .nav-link {
    display: none;
  }
}

/*End of Nav bar bottom*/

/*Main body*/

/*Cover */
.cover {
    margin: 0 auto;
    padding: 4px;
    position: relative;
}
.cover-gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.253);
  background: linear-gradient(180deg, rgba(0,0,0,0.14047617337950802) 0%, rgba(0,0,0,1) 100%);  
  z-index: 5;
  overflow: hidden;
}
.cover-date{
  display: none;
}

.cover-header {
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  position: absolute;
  right: 4px;
  z-index: 10;
}
.cover-title{
  font-family: "Avalon" sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  margin-bottom: .25em;
}

.cover-by-line{
  display: flex;
  color: hsla(0,0%,100%,.6);
  font-size: 12px;
  line-height: 16px;
}
.cover-by-line li:last-child{
  margin-left: 12px;
}
.head-article,
.side-articles{
    display: block;
    position: relative;
}
.background-image{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    background-color: #000;
    background-position: 50%;
    z-index: 1;
}
@media(min-width: 1024px){
    .cover{
        height: 75vh;
        max-height: 560px;
    }
    .title-big{
      font-size: 40px;
    }
    .cover-header {
      padding-left: 20px;
      padding-right: 20px;
  }
    .head-article{
        height: 100%;
        width: 66.6%;
        float: left;
        padding: 4px;
        overflow: hidden;
        position: relative;
    }
    .side-articles{
        height: 50%;
        width: 33.3%;
        float: left;
        overflow: hidden;
        padding: 4px;
        position: relative;
    }
    .cover-date{
      display: block;
      top: 16px;
      color: #fff;
      position: absolute;
      right: 24px;
      z-index: 5;
    }
}
@media(min-width: 768px) and (max-width: 1023px){
    .cover{
        height: 60vh;
    }
    .cover-date{
      display: none;
    }
    .title-big{
      font-size: 30px;
    }

    .head-article{
        height: 100%;
        width: 66.6%;
        float: left;
        padding: 4px;
        overflow: hidden;
    }
    .side-articles{
        box-sizing: border-box;
        height: 50%;
        width: 33.3%;
        float: left;
        overflow: hidden;
        padding: 4px;
    }
}

@media(max-width: 767px){
    .head-article,
.side-articles{
    min-height: 30vh;
    margin-bottom: 10px;
}

}

/*End of Cover*/

/*Latest grid */

.latest{
  padding-top: 24px;
}

.latest-row{
  display: flex;
  flex-flow: row wrap;
}
.latest-item{
  flex-basis: 100%;
  max-width: 100%;
  padding:8px;
  flex: 0 0 auto;
  position: relative;
}

.story-image{
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 50%;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
}

.story-title {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 1px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  cursor: pointer;
}

.story-by-line{
  color: #aaa;
  font-size: 13px;
  line-height: 20px;
  padding-top: 4px;
  cursor: pointer;
}
@media(max-width:767px){

.latest-item{
  padding-bottom:30px;
  margin-left: 5%;
  max-width: 95%;
}
.story-small .story-image {
    left: 0;
    padding-top: 75px;
    position: absolute;
    top: 0;
    width: 75px;
}
.story--small {
  min-height: 72px;
  padding-left: 88px;
  position: relative;
}
.story-title{
  margin-left: 80px;
  font-size: 14px !important;
  font-weight: 700;
  line-height: 18px !important;
}
.story-by-line{
  margin-left: 80px;
}
}

@media(min-width:768px) and (max-width:1023px){
  .latest-item{
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 12px;
  }
}

@media(min-width:1024px){
  .latest-row{
    margin: 20px;
  }
  .latest-item{
    flex-basis: 25%;
    max-width: 25%;
    padding: 12px;
  }

  .story-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
}
}

/*End latest grid*/

/*Funding rounds Header*/

.deals{
  margin-bottom: 4em;
}
.deals-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deals-title{
  color: #f42;
  margin-left: 20px;
}
.deals-by-line{
  font-size: 14px;
  color: #f42;
  text-decoration: none;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
.deals-by-line li{
  margin-top: 10px;
}
.deals-by-line li:hover{
  color: #000;
  cursor: pointer;
}

@media(min-width:768px) and (max-width:1023px){
  .deals-by-line{
    margin-top: 20px;
    flex-direction: row; 
    align-items: flex-start;
  }
  .deals-by-line li{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #f42;
  }

  .deals-by-line li:last-child{
    border:none;
  }

}

@media(min-width: 1024px){
  .deals-header{
    flex-direction: row;
  }
  .deals-by-line{
    align-items: center;
    flex-direction: row; 
  }
  .deals-by-line li{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #f42;
  }
  .deals-by-line li:last-child{
    border:none;
  }
}

/*End of funding rounds Header*/

